@media (min-width: 768px) {
	#chat .msg {
		display: flex;
		align-items: baseline;
	}

	#chat-container #chat .msg .from {
		width: 130px;
		padding-right: 10px;
		-webkit-mask-image: linear-gradient(270deg,transparent,#000 10px);
		mask-image: linear-gradient(270deg,transparent,#000 10px);
	}

	#chat-container #chat .msg[data-type="condensed"] .condensed-summary .time {
		display: inherit;
	}

	#chat-container #chat .msg:not([data-from][data-type=message]):not([data-from][data-type=notice]) .from {
		font-size: inherit;
	}
}