/*!
* New Morning
*/

@import 'default.css';

:root {
	--body-color: #f3f3f3;
	--body-color-muted: #a0adb9;
	--link-color: #77abd9;
	--window-bg-color: #303e4a;
	--window-heading-color: #b7c5d1;
	--date-marker-color: #97ea70;
	--unread-marker-color: #f92772;
	--highlight-bg-color: #4d4332;
	--highlight-border-color: #f39c12;
	--window-border-color: #28333d;
}

/* Fix height on mobile due to auto-hide address bar */

html, body {
	position: fixed;
	width: 100%;
	font-family: consolas, monospace;
}

/* General layout */

#viewport {
	padding: 0 !important;
}

.window {
	border-radius: 0;
}

#chat .chat {
	padding: 10px 15px;
}

#chat .messages {
	padding: 0;
}

#chat .show-more,
#chat .date-marker,
#chat .unread-marker {
	margin: 5px 0;
	padding: 0;
}

#chat-container #chat .msg,
#chat-container #chat .msg .from,
#chat-container #chat .msg .time,
#chat-container #chat .msg .content {
	padding: 0;
	border: none;
	background: none;
}

#chat .msg {
	display: block;
	margin: 3px 0;
}

#chat-container #chat .msg .content {
	color: inherit;
}

#chat-container #chat .msg .time {
	font-size: 12px;
	color: var(--body-color-muted);
	font-weight: normal;
}

#chat-container #chat .user:before,
#chat-container #chat .from:after,
#chat-container #chat .from:before {
	display: none;
}

#chat-container #chat .msg .from {
	width: auto;
	-webkit-mask-image: none;
	mask-image: none;
	color: inherit;
}

.only-copy {
	font-size: inherit;
	opacity: inherit;
	width: inherit;
}

/* Condensed split/join message tweaks */

#chat-container #chat .msg[data-type="error"],
#chat-container #chat .msg[data-type="condensed"] .condensed-summary,
#chat-container #chat .msg[data-type="chghost"],
#chat-container #chat .msg[data-type="away"],
#chat-container #chat .msg[data-type="back"],
#chat-container #chat .msg[data-type="join"],
#chat-container #chat .msg[data-type="kick"],
#chat-container #chat .msg[data-type="mode"],
#chat-container #chat .msg[data-type="nick"],
#chat-container #chat .msg[data-type="part"],
#chat-container #chat .msg[data-type="quit"],
#chat-container #chat .msg[data-type="mode_channel"],
#chat-container #chat .msg[data-type="topic"],
#chat-container #chat .msg[data-type="topic_set_by"] {
	color: var(--body-color-muted);
	font-size: 12px;
	margin: 3px 0;
}

#chat-container #chat .msg[data-type="condensed"] {
	display: block;
}

#chat-container #chat .msg[data-type="condensed"] .condensed-summary .time {
	display: none;
}

/* Tweak other messages */

#chat .msg:not([data-from][data-type=message]):not([data-from][data-type=notice]) .from {
	font-size: 0;
}

#chat .msg[data-type=unhandled] .from {
	visibility: hidden;
}

#chat-container #chat .chat-view[data-type=lobby] .msg {
	font-size: 14px;
	color: var(--body-color);
}

#chat-container #chat .msg .new-topic {
	font-weight: 600;
	font-size: 14px;
	color: var(--body-color);
}

#chat .msg[data-type=action] .content {
	font-style: italic;
}

#chat .msg[data-type=whois] p {
	display: inline;
}

.mentions-popup .emoji,
.chat-content .emoji {
	font-size: 1em;
	vertical-align: baseline;
	font-style: normal;
}

.irc-monospace, code {
    font-size: inherit;
}

#chat .msg[data-type=notice] .content .tooltipped:after {
	content: "Notice";
}

/* Mention panel */

.mentions-popup {
	padding: 10px 15px;
}

.mentions-popup .mentions-info {
	color: var(--body-color-muted);
	font-size: 12px;
}

.mentions-popup .msg .content {
	background: none;
	border: none;
	padding: 0;
}

.mentions-popup .hide-all-mentions {
	border-radius: 2px;
	border: 0;
	padding: 6px 17px;
}

/* Highlights */

#chat-container #chat .msg[data-type=invite].highlight,
#chat-container #chat .chat-view[data-type=channel] .msg.highlight {
	border-left: 7px solid var(--highlight-border-color);
	padding-left: 8px;
	margin-left: -15px;
}

/* Tweak tables */

dt, dd {
	margin: 0;
}

td, th {
	vertical-align: middle !important;
	border-bottom: 1px solid #586570 !important;
	padding: 7px !important;
	width: auto !important;
}

#chat-container #chat table {
	width: 100%;
	margin: -5px 0 0;
	border-spacing: 0;
}

/* Inputs and buttons */

.btn:active,
.btn:focus,
.input:focus,
.input:hover {
	box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
}

.input,
.input:focus,
.input:hover {
	border: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

/* Settings and connect */

#settings .btn {
	width: 100%;
	margin-top: 2px;
}

.window h2,
.window h3 {
	text-transform: capitalize;
}

#connect .input[name="commands"] {
	min-height: 77px;
}

.extra-help {
    font-size: 0.7em !important;
}

/* Sidebar */

#sidebar {
	min-width: 260px;
	resize: horizontal;
	overflow: hidden;
}

#sidebar .btn-small {
	padding: 9px 17px;
	border-radius: 2px;
	border: 0;
}

#sidebar .input {
	color: #fff;
	background-color: hsla(0,0%,100%,.1);
}

#sidebar .input::placeholder {
	color: rgba(255, 255, 255, 0.35);
}

#sidebar .join-form {
	padding: 4px 8px 8px;
}

#sidebar .network {
	margin-bottom: 10px;
}

#sidebar::-webkit-resizer {
	display: none;
}

#footer .icon {
	border-radius: 5px;
	margin: 5px;
	height: 40px;
	width: 40px;
}

#footer {
	margin-bottom: 5px;
}

/* Sidebar icons */

.channel-list-item[data-type=special]:before {
	content: "\f550";
}

.channel-list-item {
	align-items: center;
}

/* Login and loading screens */

#loading-reload-container,
#loading-status-container {
	align-self: center;
	text-align: center;
	padding: 15px;
	max-width: 480px;
}

/* Hide logos */

#loading .logo,
.window .logo,
#loading .logo-inverted,
.window .logo-inverted,
#sidebar .logo-container {
	display: none;
}

/* Borders */

#chat .header,
#chat .user-mode::before,
#chat .userlist {
	border-color: var(--window-border-color);
}

.header .topic,
#chat .user-mode::before {
	color: var(--window-heading-color);
}

/* Header */

.header {
	align-items: center;
}

.header .topic {
	white-space: pre;
}

.header .title {
	font-weight: 700;
}

#chat-container #chat button.mentions,
#chat-container #chat button.menu,
#viewport .lt,
#viewport .rt,
#chat-container #chat button.search,
#chat-container #chat button.close {
	margin-top: 0;
	color: var(--window-heading-color);
}

#chat-container .message-search input {
    background: var(--window-border-color);
	margin: 0;
	padding: 0 15px;
	border-radius: 0;
}

#chat-container .message-search.opened .input-wrapper {
	top: 45px;
	height: 45px;
	z-index: 2;
}

/* User list */

#chat .userlist {
	width: 200px;
}

.userlist-open .chat-view[data-type=channel] .scroll-down {
	right: 216px;
}

#chat .userlist .user.active,
#chat .userlist .count {
	background-color: var(--window-border-color);
}

#chat .count::before {
	color: var(--window-heading-color);
}

/* Nicknames */
#chat-container #chat .user {
	color: #b4ddff;
	font-weight: 600;
}

#chat-container #chat.colored-nicks .user.color-1,
#chat-container #chat.colored-nicks .user.color-9,
#chat-container #chat.colored-nicks .user.color-17,
#chat-container #chat.colored-nicks .user.color-25 {
	color: #bf616a;
}

#chat-container #chat.colored-nicks .user.color-2,
#chat-container #chat.colored-nicks .user.color-10,
#chat-container #chat.colored-nicks .user.color-18,
#chat-container #chat.colored-nicks .user.color-26 {
	color: #d08770;
}

#chat-container #chat.colored-nicks .user.color-3,
#chat-container #chat.colored-nicks .user.color-11,
#chat-container #chat.colored-nicks .user.color-19,
#chat-container #chat.colored-nicks .user.color-27 {
	color: #ebcb8b;
}

#chat-container #chat.colored-nicks .user.color-4,
#chat-container #chat.colored-nicks .user.color-12,
#chat-container #chat.colored-nicks .user.color-20,
#chat-container #chat.colored-nicks .user.color-28 {
	color: #a3be8c;
}

#chat-container #chat.colored-nicks .user.color-5,
#chat-container #chat.colored-nicks .user.color-13,
#chat-container #chat.colored-nicks .user.color-21,
#chat-container #chat.colored-nicks .user.color-29 {
	color: #b48ead;
}

#chat-container #chat.colored-nicks .user.color-6,
#chat-container #chat.colored-nicks .user.color-14,
#chat-container #chat.colored-nicks .user.color-22,
#chat-container #chat.colored-nicks .user.color-30 {
	color: #5e81ac;
}

#chat-container #chat.colored-nicks .user.color-7,
#chat-container #chat.colored-nicks .user.color-15,
#chat-container #chat.colored-nicks .user.color-23,
#chat-container #chat.colored-nicks .user.color-31 {
	color: #88c0d0;
}

#chat-container #chat.colored-nicks .user.color-8,
#chat-container #chat.colored-nicks .user.color-16,
#chat-container #chat.colored-nicks .user.color-24,
#chat-container #chat.colored-nicks .user.color-32 {
	color: #81a1c1;
}

/* Increase contrast of some IRC colors */

.irc-fg2 { color: #0074d9; }
.irc-fg5 { color: #e969a7; }
.irc-fg12 { color: #50a8ff; }

/* Other colors */

#chat-container #chat .chat-view .msg[data-type="error"] {
	color: #f92772;
}

#chat-container #chat .chat-view .msg[data-type="action"] {
	color: var(--body-color);
}

#chat-container #chat .chat-view .msg[data-type="notice"] {
	color: var(--body-color);
}

#chat .msg[data-type="monospace_block"] .text,
code,
.irc-monospace {
	background: var(--window-border-color);
	color: var(--body-color);
}

/* Disable nick detection. Way too many false detections in big chat rooms */

#chat-container #chat .msg[data-type=message] .content .user,
#chat-container #chat .msg[data-type=notice] .content .user,
#chat-container #chat .msg[data-type=action] .content .user:nth-of-type(1n+2) {
	color: inherit;
	pointer-events: none;
	font-weight: inherit;
}

/* Message form */

#form {
	padding: 6px 10px;
	background-color: var(--window-border-color);
	border-color: var(--window-border-color);
	color: var(--body-color);
	align-items: center;
}

#form #nick {
	background: #242a33;
	color: var(--body-color);
}

#form #submit,
#form #upload {
	color: var(--window-heading-color);
}

/* Help keyboard shortucts */

kbd {
	color: #eee;
	text-shadow: 0 -1px 0 #000;
	border-color: #000;
	background-color: #333;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
	box-shadow: 0 2px 0 #000, inset 0 1px 1px #777, inset 0 -1px 3px #222;
}

/* Embeds */

#chat .toggle-content {
	background: var(--window-border-color);
	color: var(--body-color);
}

#chat .toggle-content img {
	max-height: 200px;
}

#chat .toggle-content .body {
	color: #99a2b4;
}

#chat .toggle-content.toggle-type-audio audio::-webkit-media-controls-enclosure {
	border-radius: 0;
}

#image-viewer .open-btn:before {
	right: 17px;
	bottom: 17px;
	font-size: 20px;
}

/* Responsive overrides */

@media (max-width: 768px) {
	#context-menu,
	#form #input,
	#help .help-item,
	#loading,
	#settings .error,
	#sidebar .empty,
	.channel-list-item,
	.header .topic,
	.messages .msg,
	.textcomplete-menu,
	.window label {
		font-size: 14px;
	}

	#sidebar {
		left: -260px;
	}

	#viewport.menu-open #sidebar {
		transform: translate3d(260px,0,0);
	}

	.container {
		margin-bottom: 20px;
	}

	#chat .userlist {
		transform: translateX(200px);
		z-index: 1;
	}

	#footer {
		margin-bottom: 5px;
	}
}

@media (max-width: 479px) {
	#connect label {
		width: auto;
	}
}

/* Decrease density for touch screens */

@media (pointer: coarse) {
	.channel-list-item {
		padding: 10px 14px;
	}

	.header {
		height: 55px;
	}

	#form {
		min-height: 50px;
	}

	#sidebar .jump-to-input:before {
		line-height: 40px!important;
	}

	#sidebar .input {
		height: 40px;
		line-height: 40px;
	}

	#chat-container .message-search.opened .input-wrapper {
		top: 55px;
	}

	.scroll-down-arrow {
		width: 45px;
		height: 45px;
		line-height: 43px;
	}

	.scroll-down-arrow {
		background: var(--window-bg-color) !important; /* Otherwise button gets stuck in active state on */
		color: var(--button-color) !important;
	}
}

/* Revert scrollbar */

::-webkit-scrollbar-thumb {
	background: rgba(183, 197, 209, 0.5) !important;
	border-radius: 0px !important;
}

/* Form elements */
/* stylelint-disable selector-no-vendor-prefix */

#chat-container ::-moz-placeholder {
	color: var(--window-heading-color);
	opacity: 0.75;
}

#chat-container ::-webkit-input-placeholder {
	color: var(--window-heading-color);
	opacity: 0.75;
}

#chat-container :-ms-input-placeholder {
	color: var(--window-heading-color);
	opacity: 0.75;
}

/* stylelint-enable selector-no-vendor-prefix */

/* End form elements */

/* Hijack MOTD toggle in settings to enable/disable flex layout */

#settings abbr[title="Message Of The Day"] {
	pointer-events: none;
	text-decoration: none;
}

#settings abbr[title="Message Of The Day"]::after {
	content: " and enable classic view";
}

@media (min-width: 768px) {
	#chat:not(.hide-motd) .msg {
		display: flex;
		align-items: baseline;
	}

	#chat-container #chat:not(.hide-motd) .msg .from {
		width: 130px;
		padding-right: 10px;
		-webkit-mask-image: linear-gradient(270deg,transparent,#000 10px);
		mask-image: linear-gradient(270deg,transparent,#000 10px);
	}

	#chat-container #chat:not(.hide-motd) .msg[data-type="condensed"] .condensed-summary .time {
		display: inherit;
	}

	#chat-container #chat:not(.hide-motd) .msg:not([data-from][data-type=message]):not([data-from][data-type=notice]) .from {
		font-size: inherit;
	}
}
